.game-info {
    display: grid;
    grid-template-columns: 3fr 8fr;
    grid-column-gap: 6rem;
    margin-bottom: 3rem;

    &__navigation {
        display: flex;
        gap: 0.75rem;
        margin-bottom: 4rem;
        font-weight: 400;
        font-size: 20px;
        color: var(--base-color-01);

        &-link {
            text-decoration: none;
            color: var(--base-color-01);
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
    }

    &__name {
        margin-bottom: 1.5rem;
        font-weight: 600;
        font-size: 24px;
        color: var(--primary-color);
    }

    &__img {
        border-radius: 3px;
        margin-bottom: 1.9rem;
    }

    &__button {
        margin-bottom: 1rem;
        box-sizing: border-box;
        padding: 1rem 0rem;
        font-weight: 600;
        font-size: 20px;
        color: var(--primary-color);
        border: none;
        border-radius: 0.3rem;
        cursor: pointer;

        &-play {
            background: #16cd57;
        }

        &-download {
            background: #5a9df5;
        }
    }

    &__download {
        margin-bottom: 1.25rem;
        font-weight: 500;
        font-size: 14px;
        color: rgba(182, 182, 182, 0.94);
    }

    &__div {
        margin-bottom: 1.25rem;
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
    }

    &__span {
        font-weight: 400;
        font-size: 18px;
        color: #b6b6b6;
    }
}

.status {
    font-weight: 400;
    font-size: 18px;

    &-div {
        margin-bottom: 1.5rem;
    }

    &-title {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 0.5rem;
    }

    &-new {
        color: #fbff47;
    }

    &-approved {
        color: #47ffa7;
    }

    &-rejected {
        color: #ff8197;
    }
}

.game-developers {
    margin-bottom: 3.125rem;

    &__title {
        font-weight: 500;
        font-size: 24px;
        color: var(--primary-color);
        margin-bottom: 1.25rem;
    }

    &__name {
        font-weight: 400;
        font-size: 18px;
        color: var(--base-color-01);
        margin-bottom: 0.25rem;
    }

    &__count {
        font-weight: 400;
        font-size: 14px;
        color: var(--base-color-02);
        margin-bottom: 1.25rem;
    }

    &__edit-btn {
        width: 100%;
        padding: 1rem 0;
        font-weight: 500;
        font-size: 18px;
        border: none;
        border-radius: 3px;
        background: #5a9df5;
        cursor: pointer;
    }
}

.developers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.25rem;

    &-card {
        box-sizing: border-box;
        padding-left: 0.75rem;

        &__name {
            font-weight: 400;
            font-size: 18px;
            color: var(--base-color-02);
        }

        &__role {
            font-weight: 400;
            font-size: 18px;
            color: #93aed6;
        }

        &__contacts {
            font-weight: 400;
            font-size: 14px;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: var(--base-color-02);
        }
    }
}

.pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1.3rem;

    &__img {
        cursor: pointer;

        &_disabled {
            opacity: 0.5;
        }
    }
}

.right_img {
    transform: rotate(180deg);
}

.description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3.1rem;

    &__text-container {
        background-color: var(--secondary-bg-color);
        padding: 1.5rem;
    }
}

.play-description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__text-container {
        background-color: var(--secondary-bg-color);
        padding: 1.5rem;
    }
}


.pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1.3rem;

    &__img {
        cursor: pointer;

        &_disabled {
            opacity: 0.5;
        }
    }
}

.right_img {
    transform: rotate(180deg);
}


.promo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.8rem;
    grid-column-gap: 1.5rem;
    margin-bottom: 5.8rem;

    &-title {
        margin-bottom: 3.125rem;
    }

    &-item {
        display: flex;
        flex-direction: column;
        justify-content: end;

        &__title {
            margin-bottom: 1.5rem;
            font-weight: 500;
            font-size: 24px;
            color: #fff;
        }

        &__block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            width: 100%;
            height: 12.5rem;
            border-radius: 3px;
            border: 1px solid #99a2ad;
            background: rgba(255, 255, 255, 0.02);
        }

        &__text {
            margin-bottom: 0.3rem;
            font-weight: 600;
            font-size: 16px;
            color: #fff;
        }

        &__span {
            margin-bottom: 1rem;
            font-weight: 400;
            font-size: 14px;
            color: #d0e6ee;
        }

        &__size {
            font-weight: 700;
            font-size: 24px;
            color: #d0e6ee;
        }

        &__img {

        }

        &__download {
            display: flex;
            justify-content: space-between;
            padding: 0 0.5rem ;
        }

        &__link {
            font-weight: 500;
            font-size: 16px;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #65a7ff;
        }

        &__delete {
            font-weight: 500;
            font-size: 16px;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #ff8197;
        }

        &__format {
            font-weight: 300;
            font-size: 16px;
            color: #d0e6ee;
        }
    }
}

.add-game-btns {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-self: center;
    margin-bottom: 2.5rem;

    &__save {
        width: 16.3rem;
        height: 3.5rem;
        font-weight: 600;
        font-size: 20px;
        border: none;
        background: #16cd57;
        cursor: pointer;
    }

    &__push {
        width: 16.3rem;
        height: 3.5rem;
        font-weight: 600;
        font-size: 20px;
        color: #ff8197;
        border: 1px solid #ff8197;
        background: #282828;
        cursor: pointer;
    }
}
