<h1>Данные пользователя</h1>
<div class="profile">
    <aside class="side-bar">
        <profile-side-bar [actionName]="'Сохранить'"></profile-side-bar>
    </aside>

    <div class="profile__info">
        <form>
            <div class="user-data">
                Фамилия: {{ name() }}
            </div>
            <div class="user-data">
                Имя: {{ surname() }}
            </div>
            <div class="user-data">
                Академическая группа: {{ academicGroup() }}
            </div>
        </form>
    </div>
</div>
