<h1>Данные пользователя</h1>
<div class="profile">
    <aside class="side-bar">
        <h2>Редактирование</h2>
        <profile-nav></profile-nav>
        <button class="save">Сохранить</button>
    </aside>

    <div class="profile__info">
        <form>
            <div class="user-data">
                Фамилия:
            </div>
            <input type="text">
            <div class="user-data">
                Имя:
            </div>
            <input type="text">
            <div class="user-data">
                Академическая группа:
            </div>
            <input type="text">
        </form>

    </div>
</div>
