.main {
    &__container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    &__content {
        width: auto;
        display: block;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }

    &__welcome-info {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__title {
        margin: 0;
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-xl);
        line-height: 119%;
    }

    &-description {
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-s);
        color: var(--base-color-01);
    }

    &__second-title {
        font-size: var(--font-weight-l);
        font-weight: var(--font-weight-l);
    }
}

:host {
    --tui-radius-m: 0;
    --tui-height-m: 3.7rem;
}

.event__form {
    &-select {
        // border-radius: 0;
    }

    &-input {
        padding: 120px;
        background-color: var(--secondary-bg-color);
    }

    &-test {
        padding: 0.4rem 0.6rem;
        max-width: 12rem;
        max-height: 3rem;
        border-radius: 4px;
        color: rgba(255, 255, 255, 0.65);
        background: rgba(200, 200, 200, 0.1);
    }

    &-list {
        background-color: var(--secondary-bg-color);
    }

    &-list-text {
        color: rgba(255, 255, 255, 0.65);
    }
}

.main-side-bar {
    margin-right: 2rem;

    &__title {
        font: var(--font-l);
        margin-bottom: 1rem;
    }

    &__categories {
        box-sizing: border-box;
        max-width: 16,3rem;
        margin-bottom: 2rem;
        padding: 1.7rem 1.25rem;
        background-color: var(--secondary-bg-color);
    }
}

.clock {
    display: flex;
    gap: 0.75rem;

    &-section {
        &-numbers {
            display: flex;
            gap: 0.25rem;
            margin-bottom: 0.25rem;

            &__number {
                padding: 0.75rem 0.75rem;
                border-radius: 0.5rem;
                background-color: var(--secondary-bg-color);
                font-size: 36px;
                font-weight: var(--font-weight-xl);
            }
        }

        &__text {
            text-align: center;
            font-weight: var(--font-weight-s);
            font-size: 13px;
            color: var(--base-color-02);
        }
    }

    &__colon {
        margin-top: 0.75rem;
        font-size: 36px;
        font-weight: var(--font-weight-xl);
    }
}

.event {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__status {
        margin-bottom: 0.7rem;
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-s);
        color: #FBFF47;
    }

    &__votes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.1rem;

        &-title {
            font-size: 14px;
            font-family: var(--font-size-l);
        }

        &-count {
            position: relative;

            &__img {
                filter: grayscale(100%);
            }

            &__text {
                position: absolute;
                bottom: 0;
                left: 0;
                font-size: var(--font-size-l);
                font-family: 700;
            }
        }

        &-text {
            font-size: 13px;
            font-family: var(--font-size-s);
        }
    }

    &__gifts {
        &-title {
            margin-bottom: 1rem;
            font-weight: var(--font-weight-l);
            font-size: 14px;
        }

        &-item {
            position: relative;
            padding: 1rem 2rem;
            border-radius: 0.25rem;

            &__img {
                position: absolute;
                left: -0.65rem;
            }
        }

        &-item:first-of-type {
            background-color: var(--secondary-bg-color);
        }

        &-item:not(:first-child) {
            border: 2px solid var(--secondary-bg-color);
        }

        &-item:not(:last-child) {
            margin-bottom: 0.65rem;
        }
    }
}

.popular {
    &-title {
        margin-bottom: 1.5rem;
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-l);
    }

    &-slide {
        position: relative;
        height: 100%;
        width: 100%;
    }

    &-info {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 2.375rem 1rem;
        width: 100%;
        background: linear-gradient(rgba(34, 33, 33, 0) 0%, rgba(34, 33, 33, 0.45) 69%, rgba(34, 33, 33, 0.63) 100%);
        border-radius: 20px 0 0 20px;
    }

    &-text {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        &__span {
            // margin-bottom: 1rem;
            font-weight: 500;
            font-size: 13px;
            color: rgba(255, 255, 255, 0.8);
        }

        &__title {
            font-weight: 600;
            font-size: 20px;
        }
    }

    &-btn {
        width: 100px;
        height: 37px;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        border-radius: 6px;
        outline: none;
        border: none;
        background: linear-gradient(180deg, #60fb9e 0%, #1efe77 0.01%, #0d9834 100%);
        cursor: pointer;
    }
}



#slider {
    margin-bottom: 2rem;
    height: 21rem;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin: auto;
    width: 526px;
    height: 309px;
    border-radius: 20px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-45%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-22%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
    cursor: default;
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(22%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(45%,0,-200px);
}

#s1, #s2, #s3 {
    position: absolute;
    bottom: -0.5rem;
}

#s1:checked, #s2:checked, #s3:checked {

}

#s1 {
    right: 52%;
}

#s2 {
    right: 50%;
}

#s3 {
    right: 48%;
}
