<footer class="main-footer">
    <div class="main-footer__content">
        <div class="main-footer__social">
            <img class="main-footer__logo" src="assets/images/icons/logo-footer.svg" alt="logo" height="27" width="147">
            <ul class="main-footer__social-list">
                <li class="main-footer__social-item">
                    <img src="assets/images/icons/vk.svg" alt="vk" class="main-footer__social-icon">
                </li>
                <li class="main-footer__social-item">
                    <img src="assets/images/icons/internet.svg" alt="internet" class="main-footer__social-icon">
                </li>
                <li class="main-footer__social-item">
                    <img src="assets/images/icons/tg.svg" alt="tg" class="main-footer__social-icon">
                </li>
            </ul>
        </div>
        <nav class="main-footer__nav">
            <ul class="main-footer__nav-list">
                <li class="main-footer__nav-item">
                    Витрина проектов
                </li>
                <li class="main-footer__nav-item">
                    Защиты проектов
                </li>
                <li class="main-footer__nav-item">
                    Заказать проект
                </li>
            </ul>
        </nav>
    </div>
</footer>
