@import '@taiga-ui/core/styles/taiga-ui-local.less';

[tuiWrapper][data-appearance='main-page-play-button'] {
    width: 100px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 6px;
    background: var(--Linear, linear-gradient(180deg, #60FB9E 0%, #1EFE77 0.01%, #0D9834 100%));
}

[tuiWrapper][data-appearance='auth-button'] {
    width: 16rem;
    height: 3rem;
    border-radius: 3px;
    background-color: var(--active-bg-button-color);
}

[tuiWrapper][data-appearance='choose-semester-button'] {
    width: 12rem;
    height: 2rem;
    border-radius: 3px;
    background-color: var(--active-bg-button-color);
}

[tuiWrapper][data-appearance='add-project-button'] {
    width: 15rem;
    height: 3rem;
    border-radius: 3px;
    background-color: var(--active-bg-button-color);
}
