.side-bar {
    &__title {
        margin-bottom: 0.5rem;
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }

    &__status {
        margin-bottom: 2rem;
        font-weight: 400;
        font-size: 18px;
        color: #47bdff;
    }

    &__status-changed {
        color: #fbff47;
    }

    &__status-save {
        color: #47ffa7;
    }

    &__span {
        font-weight: 500;
        font-size: 14px;
        color: #b6b6b6;
    }
}

.action {
    margin-bottom: 0.625rem;
}

.save-btn {
    width: 100%;
    padding:  1rem 0;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background: #5a9df5;
    cursor: pointer;
}

.save-btn:disabled {
    color: #656567;
    background: #37383a;
    cursor: default;
}

.game-btn {
    width: 100%;
    padding:  1rem 0;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background: #16CD57;
    cursor: pointer;
}

.game-btn:disabled {
    color: #656567;
    background: #37383a;
    cursor: default;
}
