<section
    class="games"
    *ngIf="games$ | async as games"
>
    <div class="games__container">
        <span class="games__count">
            Найдено {{ gamesCount$ | async }} проектов
        </span>
        <pagination
            [gamesOnPage]="5"
        >
        </pagination>
    </div>
    <ul class="games__list">
        <li
            class="games__item"
            *ngFor="let game of games"
        >
            <game-card [game]="game"></game-card>
        </li>
    </ul>
</section>


