<section
    class="games"
    *ngIf="games$ | async as games"
>
    <ng-container *ngIf="games.length > 0; else emptyData">
        <div class="rating__property">
        <span class="rating__property-find">
            Найдено {{ gamesCount$ | async }} проектов
        </span>
            <div class="rating__property-filters">
                <pagination
                    [gamesOnPage]="5"
                >
                </pagination>
                <select class="select-second">
                    <option value="">По возрастанию рейтинга</option>
                    <option value="">По убыванию рейтнга</option>
                </select>
                <!-- <form class="rating__form">
                    <tui-select
                        tuiTextfieldSize="m"
                        class="tui-space_vertical-4 rating__form-select"
                        [formControl]="chooseRatingFilter"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        <p class="rating__form-test">По возрастанию рейтинга</p>
                        <input
                            class="rating__form-input"
                            placeholder="Выберите событие"
                            tuiTextfield
                        />
                        <tui-data-list-wrapper
                            *tuiDataList
                            [items]="ratingFilters"
                            class="rating__form-list"
                            [itemContent]="cardContent"
                        ></tui-data-list-wrapper>
                    </tui-select>
                    <ng-template
                        #cardContent
                        let-filters
                    >
                        <div class="rating__form-list-text">{{ filters }}</div>
                    </ng-template>
                </form> -->
                <img class="rating__property-loupe" src="assets/images/icons/loupe.svg" alt="">
            </div>
        </div>
        <div class="rating__search">
            <input class="rating__search-input" type="text" placeholder="Поиск">
            <img class="rating__property-loupe" src="assets/images/icons/loupe.svg" alt="">
        </div>
        <ul class="games__list">
            <li
                class="games__item"
                *ngFor="let game of games"
            >
                <div class="games__item-score">
                    <span class="games__item-place">
                        <!-- <img class="games__item-place__flag" src="assets/images/icons/flag.svg" alt="">
                        <span class="games__item-place__count">99</span> -->
                        99
                        </span>
                    <img src="assets/images/icons/score.svg" alt="">
                    0
                </div>
                <game-card [game]="game"></game-card>
            </li>
        </ul>
    </ng-container>
</section>

<ng-template #emptyData>
    <div class="rating__property">
        <span class="rating__property-find">
            Найдено {{ gamesCount$ | async }} проектов
        </span>
        <div class="rating__property-filters">
            <pagination
                [gamesOnPage]="5"
            >
            </pagination>
            <select class="select-second">
                <option value="">По возрастанию рейтинга</option>
                <option value="">По убыванию рейтнга</option>
            </select>
            <img class="rating__property-loupe" src="assets/images/icons/loupe.svg" alt="">
        </div>
    </div>
    <div class="rating__search">
        <input class="rating__search-input" type="text" placeholder="Поиск">
        <img class="rating__property-loupe" src="assets/images/icons/loupe.svg" alt="">
    </div>
    <p class="empty-message">Извините, по вашему запросу ничего не найдено</p>
</ng-template>
