.title {
    margin-bottom: 0.825rem;
    font-weight: 600;
    font-size: 26px;
    color: #fff;
}

.text {
    margin-bottom: 4.1rem;
    font-weight: 400;
    font-size: 20px;
    color: #b6b6b6;
}
