@if (game$ | async; as game) {
    <div class="project">
        <div class="project__main-info">
            <h3 class="project__main-info__name">
                {{ game.name }}
            </h3>
            <img
                class="project__main-info__img"
                src="assets/images/test-game-img.png"
                alt="Фото игры"
            >
        </div>
        <div class="project__description">
            <div class="project__pub-date">
                <p class="project__pub-date__text">Проект опубликован</p>
                <p class="project__pub-date__date">24.03.2022</p>
            </div>
            <div class="game-rating">
                <h3 class="game-rating__title">Рейтинг проекта</h3>
                <div class="rating-points">
                    <img class="rating-points__before" src="assets/images/third-place.svg" alt="">
                    <div class="rating-points__all">
                        <div class="rating-points__has"></div>
                    </div>
                    <img class="rating-points__after" src="assets/images/second-place.svg" alt="">
                    <div class="rating-points__count-div">
                        <img class="rating-points__fire-img" src="assets/images/icons/fire-icon.svg" alt="">
                        <p class="rating-points__count">350/1500</p>
                    </div>
                </div>
                <p class="game-rating__text">Отдано голосов</p>
                <div class="game-rating__votes">
                    <img src="assets/images/icons/fire-icon.svg" alt="">
                    <p>350</p>
                </div>
            </div>
        </div>
    </div>
}

@if (role$ | async; as role) {
    @if (team$ | async; as team) {
        <div class="team">
            <div class="team__container">
                <div class="team__role-container">
                    <p class="team__role-title">Роль в команде</p>
                    <div class="team__role-devoleper-role">{{ role.name }}</div>
                </div>
                <div class="team__devoleper-team-container">
                    <p class="team__devoleper-team-title">Ваша команда</p>
                    <p class="team__devoleper-team-count">Участников: {{ team.length }}</p>
                    <div class="team__devoleper-team-name">Название команды</div>
                </div>
            </div>
            @for (teammate of team; track teammate.user.id; let i = $index) {
                @if (teammate.user.id !== userId()) {
                    <div class="developer">
                        <p class="developer__count">Участник команды #{{ i + 1 }}</p>
                        <div class="developer__name">{{ teammate.user.surname }} {{ teammate.user.name }}, {{ teammate.user.academicGroup }}</div>
                        <div class="developer__info">
                            <p class="developer__role">Роль: {{ teammate.teamRole }}</p>
                            <a class="developer__contacts" href="">Контакты</a>
                        </div>
                    </div>
                }
            }
        </div>
    }
}

<!--<div class="project">-->
<!--    <div class="project__main-info">-->
<!--        <h3 class="project__main-info__name">-->
<!--            Merge Комбинаторика-->
<!--        </h3>-->
<!--        <img-->
<!--            class="project__main-info__img"-->
<!--            src="assets/images/test-game-img.png"-->
<!--            alt="Фото игры"-->
<!--        >-->
<!--    </div>-->
<!--    <div class="project__description">-->
<!--        <div class="project__pub-date">-->
<!--            <p class="project__pub-date__text">Проект опубликован</p>-->
<!--            <p class="project__pub-date__date">24.03.2022</p>-->
<!--        </div>-->
<!--        <div class="game-rating">-->
<!--            <h3 class="game-rating__title">Рейтинг проекта</h3>-->
<!--            <div class="rating-points">-->
<!--                <img class="rating-points__before" src="assets/images/third-place.svg" alt="">-->
<!--                <div class="rating-points__all">-->
<!--                    <div class="rating-points__has"></div>-->
<!--                </div>-->
<!--                <img class="rating-points__after" src="assets/images/second-place.svg" alt="">-->
<!--                <div class="rating-points__count-div">-->
<!--                    <img class="rating-points__fire-img" src="assets/images/icons/fire-icon.svg" alt="">-->
<!--                    <p class="rating-points__count">350/1500</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <p class="game-rating__text">Отдано голосов</p>-->
<!--            <div class="game-rating__votes">-->
<!--                <img src="assets/images/icons/fire-icon.svg" alt="">-->
<!--                <p>0</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="team">-->
<!--    <div class="team__container">-->
<!--        <div class="team__role-container">-->
<!--            <p class="team__role-title">Роль в команде</p>-->
<!--            <div class="team__role-devoleper-role">Роль</div>-->
<!--        </div>-->
<!--        <div class="team__devoleper-team-container">-->
<!--            <p class="team__devoleper-team-title">Ваша к-->
<!--                оманда</p>-->
<!--            <p class="team__devoleper-team-count">Участников: 4</p>-->
<!--            <div class="team__devoleper-team-name">Название команды</div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="developer">-->
<!--        <p class="developer__count">Участник команды #1</p>-->
<!--        <div class="developer__name">Фамилия Имя, Академическая группа</div>-->
<!--        <div class="developer__info">-->
<!--            <p class="developer__role">Роль: Роль</p>-->
<!--            <a class="developer__contacts" href="">Контакты</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="developer">-->
<!--        <p class="developer__count">Участник команды #1</p>-->
<!--        <div class="developer__name">Фамилия Имя, Академическая группа</div>-->
<!--        <div class="developer__info">-->
<!--            <p class="developer__role">Роль: Роль</p>-->
<!--            <a class="developer__contacts" href="">Контакты</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
