.categories-form {
    &__title {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-m);
        color: var(--base-color-01);
    }

    &__checkbox {
        padding-left: 0.5rem;
    }

    &__text {
        margin-bottom: 0.15rem;
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-m);
        color: var(--base-color-02);
    }
}
