<h1 class="title">Мои проекты</h1>
<p class="text">Профиль</p>

<div class="projects">
    <aside class="side-bar">
        <profile-side-bar [actionName]="'Создать проект'" [isTeamLead]="role() === 'Team Lead'"></profile-side-bar>
    </aside>

    <div class="choose-project__info">
        <h2 class="choose-project__title">Выбор проекта</h2>
        <p class="choose-project__text">Выберите учебный семестр</p>
        <div class="choose-project__buttons-div">
            <button
                class="choose-project__button"
                [ngClass]="{'choose-project__button-selected': !createTeam(), 'choose-project__button-active': createTeam()}"
                (click)="viewProject()"
            >
                Осень 2023
            </button>
            <button
                class="choose-project__button"
                [ngClass]="{'choose-project__button-selected': createTeam(), 'choose-project__button-active': !createTeam()}"
                (click)="createNewTeam()"
            >
                Весна 2024
            </button>
            <button
                class="choose-project__button choose-project__button-inactive"
                disabled
            >
                Осень 2024
            </button>
        </div>
        @if (createTeam()) {
            <div class="team">
                <h3 class="team__role">
                    Роль в команде
                </h3>
                <form
                    class="chose-role-form b-form"
                    [formGroup]="choseRoleForm"
                >
                    <tui-select
                        tuiTextfieldSize="m"
                        class="tui-space_vertical-4"
                        formControlName="role"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Выберите роль
                        <input
                            placeholder="Выберите свою роль"
                            tuiTextfield
                        />
                        <tui-data-list-wrapper
                            *tuiDataList
                            [items]="rolesNames"
                        ></tui-data-list-wrapper>
                    </tui-select>
                </form>
                <span class="team_warn">Создать команду может только Team Lead</span>
                @if (role() === 'Team Lead') {
                    <h3 class="team__name">
                        Название команды
                    </h3>
                    <form
                        class="team-name-form"
                        [formGroup]="teamNameForm"
                    >
                        <div class="tui-form__row">
                            <tui-input
                                formControlName="name"
                            >
                                Название команды
                                <input
                                    tuiTextfield
                                    type="text"
                                />
                                <span class="tui-required"></span>
                            </tui-input>
                            <tui-error
                                formControlName="name"
                                [error]="[] | tuiFieldError | async"
                            ></tui-error>
                        </div>
                    </form>

                    <div class="team-member__container">
                        @for (member of team; track member.name) {
                            <p class="team-member__info">
                                {{member.name}} {{member.surname}}, {{member.academicGroup}}
                            </p>
                        }
                    </div>

                    <h3 class="team__member">
                        Участник команды #1
                    </h3>
                    <form
                        class="team-member-form"
                        [formGroup]="teamMemberInfoForm"
                    >
                        <div class="tui-form__row">
                            <tui-input
                                formControlName="info"
                            >
                                Информация об участнике
                                <input
                                    tuiTextfield
                                    type="text"
                                />
                                <span class="tui-required"></span>
                            </tui-input>
                            <tui-error
                                formControlName="info"
                                [error]="[] | tuiFieldError | async"
                            ></tui-error>
                        </div>

                        <div class="team-member-form__action">
                            <button
                                class="add-game-form__submit-button"
                                appearance="auth-button"
                                tuiButton
                                (click)="addTeamMember()"
                            >
                                Добавить участника
                            </button>
                        </div>
                    </form>
                }
            </div>
        } @else {
            <project-info></project-info>
        }
    </div>
</div>
