<form
    class="add-game-form"
    [formGroup]="loadGameForm"
    (ngSubmit)="onSubmit()"
>
    <div class="add-game-form__container">
        <input
            class="add-game-form__data"
            type="file"
            accept=".zip"
            formControlName="file"
            (change)="onFileSelected($event)"
        >
    </div>
    <div class="add-game-form__action">
        <button
            class="add-game-form__submit-button"
            type="submit"
        >
            Сохранить
        </button>
    </div>
</form>

<ng-container *ngIf="games$ | async as games">
    <div *ngFor="let game of games">
        <div (click)="play(game.id)">{{ game }}</div>
        <hr>
    </div>
</ng-container>

<ng-container *ngIf="gameId !== ''">
    <iframe
        width="800"
        height="600"
        src="{{ backendUrl }}/api/games/{{ gameId }}/index.html"
    >
    </iframe>
</ng-container>
