<form
    class="login-form"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
>
    <div class="login-form__content">
        <h2 class="login-form__title">Вход</h2>
        <div class="login-form__inputs-div">
            <div class="tui-form__row">
                <tui-input
                    formControlName="email"
                    tuiHintContent="Ваша почта обязательно должна быть в домене urfu.me"
                >
                    Почта УрФУ
                    <input
                        placeholder="example@urfu.me"
                        tuiTextfield
                        type="email"
                    />
                    <span class="tui-required"></span>
                </tui-input>
                <tui-error
                    formControlName="email"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
            <div class="tui-form__row">
                <tui-input-password
                    formControlName="password"
                >
                    Пароль
                    <input
                        placeholder="Пароль"
                        tuiTextfield
                    />
                    <span class="tui-required"></span>
                </tui-input-password>
                <tui-error
                    formControlName="password"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
        </div>
    </div>
    <div class="login-form-action">
        <button
            appearance="auth-button"
            tuiButton
            type="submit"
        >
            Войти
        </button>
        <a
            class="login-form-action__link"
            routerLink="../register"
            tuiLink
        >
            Регистрация
        </a>
    </div>
</form>
