<form
    class="chose-event-form b-form"
    [formGroup]="choseEventForm"
>
    <div class="custom-select">
        <details class="custom-select">
            <summary class="radios">
                <input class="radios-text" type="radio" name="event" id="default" title="Выберите событие" checked>
                <input class="radios-text" type="radio" name="event" id="item1" title="{{eventsNames()[2]}}" value="{{eventsNames()[2]}}" formControlName="event">
                <input class="radios-text" type="radio" name="event" id="item2" title="{{eventsNames()[1]}}" value="{{eventsNames()[1]}}" formControlName="event">
                <input class="radios-text" type="radio" name="event" id="item3" title="{{eventsNames()[0]}}" value="{{eventsNames()[0]}}" formControlName="event">
            </summary>
            @if (eventsNames().length > 0) {
                <ul class="options-list">
                    <li class="options-item"><label class="options-label" for="item1">{{eventsNames()[2]}}</label></li>
                    <li class="options-item"><label class="options-label" for="item2">{{eventsNames()[1]}}</label></li>
                    <li class="options-item"><label class="options-label" for="item3">{{eventsNames()[0]}}</label></li>
                </ul>
            }
        </details>
    </div>
</form>
