<div class="main__container">
    <aside class="main-side-bar">
        <h2 class="main-side-bar__title">
            Выбор события
        </h2>
        <div class="main-side-bar__chose-block">
            <form class="event__form">
                <tui-select
                    tuiTextfieldSize="m"
                    class="tui-space_vertical-4"
                    [formControl]="chooseEvent"
                    [tuiTextfieldLabelOutside]="true"
                >
                    Осень 2023
                    <input
                        placeholder="Выберите событие"
                        tuiTextfield
                    />
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="events"
                    ></tui-data-list-wrapper>
                </tui-select>
            </form>
        </div>
    </aside>
    <div class="main__content">
        <div class="main__info">
            <div class="main__welcome-info">
                <h1 class="main__title">Студенческие проекты</h1>
                <p class="main-description">Вы попали на страницу студенческих игровых проектов, которые создаются в рамках проектного обучения студентами 2-3 курса института ИРИТ-РтФ УрФУ.</p>
            </div>
            <div class="event">
                <h2 class="event__title">
                    Событие: Осень 2023
                </h2>
                <p class="event__status">
                    Началось
                </p>
            </div>
        </div>
        <games></games>
    </div>
</div>
