.add-game-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 7rem;

    &__text {
        align-self: center;
        font-weight: 400;
        font-size: 16px;
        color: #d0e6ee;
    }
}

.two-columns-form-div {
    display: grid;
    grid-template-columns: 3fr 8fr;
    grid-column-gap: 6rem;
}

.aside {
    display: flex;
    flex-direction: column;

    &-title {
        margin-bottom: 0.5rem;
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }

    &-state {
        margin-bottom: 1.875rem;
        font-weight: 400;
        font-size: 18px;
        color: #47ffa7;
    }

    &-btn {
        margin-bottom: 0.625rem;
        height: 3.2rem;
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        border-radius: 3px;
        border: none;
        background: #5a9df5;

        cursor: pointer;
    }

    &-span {
        margin-bottom: 1.875rem;
        font-weight: 500;
        font-size: 14px;
        color: rgba(182, 182, 182, 0.94);
    }

    &-item {
        margin-bottom: 1.875rem;
    }

    &-item__title {
        margin-bottom: 1.56rem;
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }

    &-item__span {
        font-weight: 400;
        font-size: 14px;
        color: #d0e6ee;
    }

}

.add-game-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-bottom: 3.125rem;

    &__title {
        margin-bottom: 1.6rem;
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }

    &__bg {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        padding: 0.6rem 1rem;
        background: #2d2d2d;
    }

    &__input {
        width: 100%;
        padding: 0.625rem 1.375rem;
        outline: none;
        border: none;
        border-radius: 0.25rem;
        background: rgba(200, 200, 200, 0.1);

        resize: none;
    }

    &__input::placeholder {
        font-weight: 300;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.65);
    }

    &__span {
        float: right;
        font-weight: 400;
        font-size: 18px;
        color: #b6b6b6;
    }
}

.promo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.8rem;
    grid-column-gap: 1.5rem;
    margin-bottom: 5.8rem;

    &-item {
        display: flex;
        flex-direction: column;
        justify-content: end;

        &__title {
            margin-bottom: 1.5rem;
            font-weight: 500;
            font-size: 24px;
            color: #fff;
        }

        &__block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            width: 100%;
            height: 12.5rem;
            border-radius: 3px;
            border: 1px solid #99a2ad;
            background: rgba(255, 255, 255, 0.02);
        }

        &__text {
            margin-bottom: 0.3rem;
            font-weight: 600;
            font-size: 16px;
            color: #fff;
        }

        &__span {
            margin-bottom: 1rem;
            font-weight: 400;
            font-size: 14px;
            color: #d0e6ee;
        }

        &__size {
            font-weight: 700;
            font-size: 24px;
            color: #d0e6ee;
        }

        &__img {

        }

        &__download {
            display: flex;
            justify-content: space-between;
            padding: 0 0.5rem ;
        }

        &__link {
            font-weight: 500;
            font-size: 16px;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #65a7ff;
        }

        &__format {
            font-weight: 300;
            font-size: 16px;
            color: #d0e6ee;
        }
    }
}

.add-game-btns {
    display: flex;
    gap: 1.5rem;
    align-self: center;
    margin-bottom: 2.5rem;

    &__save {
        width: 22.25rem;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        color: #fff;
        height: 3.5rem;
        border-radius: 3px;
        border: none;
        background: #5a9df5;
        cursor: pointer;
    }

    &__push {
        width: 22.25rem;
        height: 3.5rem;
        border-radius: 3px;
        border: 1px solid #5a9df5;
        background: #282828;
        cursor: pointer;
    }
}




.custom-select {
	position: relative;
	width: 100%;
	margin-bottom: 0.625rem;
}

.custom-select[open] {
	z-index: 1;
}

.radios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    color: var(--base-color-01);
	background-color: var(--secondary-bg-color);
    cursor: pointer;
}

.radios-text {
    width: calc(100% - 1.75rem);
    box-sizing: border-box;
    padding: 0.625rem;
    font-weight: 300;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.65);
    border-radius: 0.25rem;
    background: rgba(200, 200, 200, 0.1);
}

.radios::-webkit-details-marker {
	display: none;
}

.custom-select[open] .radios:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

.radios:after {
	content: '';
	display: inline-block;
	float: right;
	width: .75rem;
	height: .75rem;
	border-bottom: 4px solid currentColor;
	border-left: 4px solid currentColor;
	border-bottom-left-radius: 2px;
    rotate: -45deg;
}

.radios:focus {
	outline: none;
}

.custom-select[open] .radios:after {
    visibility: hidden;
}

.options-list {
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
    width: 100%;
    box-sizing: border-box;
	padding: 1rem;
	margin: 0;
    color: var(--base-color-01);
	background-color: var(--secondary-bg-color);
}

.options-item {
	margin: 0;
	padding: 0.625rem;
    font-weight: 400;
    font-size: 16px;
}

.options-item:hover {
    border-radius: 0.25rem;
    background: rgba(200, 200, 200, 0.1);
}

.radios {
	counter-reset: radios;
}

.radios:before {
	content: var(--selection);
}

.radios-text[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

.radios-text[type=radio]:checked {
	display: inline;
	--display: block;
}

.radios-text[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

.options-list.list {
	counter-reset: labels;
}

.options-label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}


.custom-select-first {
	position: relative;
	width: 100%;
	margin-bottom: 0.625rem;
}

.custom-select-first[open] {
	z-index: 1;
}

.radios-first {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    color: var(--base-color-01);
	background-color: var(--secondary-bg-color);
    cursor: pointer;
}

.radios-text-first {
    width: calc(100% - 1.75rem);
    box-sizing: border-box;
    padding: 0.625rem;
    font-weight: 300;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.65);
    border-radius: 0.25rem;
    background: rgba(200, 200, 200, 0.1);
}

.radios-first::-webkit-details-marker {
	display: none;
}

.custom-select-first[open] .radios:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

.radios-first:after {
	content: '';
	display: inline-block;
	float: right;
	width: .75rem;
	height: .75rem;
	border-bottom: 4px solid currentColor;
	border-left: 4px solid currentColor;
	border-bottom-left-radius: 2px;
    rotate: -45deg;
}

.radios-first:focus {
	outline: none;
}

.custom-select-first[open] .radios:after {
    visibility: hidden;
}

.options-list-first {
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
    width: 100%;
    box-sizing: border-box;
	padding: 1rem;
	margin: 0;
    color: var(--base-color-01);
	background-color: var(--secondary-bg-color);
}

.options-item-first {
	margin: 0;
	padding: 0.625rem;
    font-weight: 400;
    font-size: 16px;
}

.options-item-first:hover {
    border-radius: 0.25rem;
    background: rgba(200, 200, 200, 0.1);
}

.radios-first {
	counter-reset: radios;
}

.radios-first:before {
	content: var(--selection);
}

.radios-text-first[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

.radios-text-first[type=radio]:checked {
	display: inline;
	--display: block;
}

.radios-text-first[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

.options-list-first.list {
	counter-reset: labels;
}

.options-label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}
