.projects {
    display: flex;

    &__semester-button {
        margin-bottom: 2rem;
    }

    &__info {

    }

    &__title {
        margin-bottom: 0.5rem;
    }

    &__choose-semester-button {
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
}

.side-bar {
    margin-right: 6rem;
}

.project {
    display: flex;
    gap: 3rem;

    &__main-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__player-count-block {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__player-count-container {
        display: flex;
        gap: 0.5rem;
    }

    &__status {
        color: var(--good-status-color);
    }
}
