.title {
    margin-bottom: 0.825rem;
    font-weight: 600;
    font-size: 26px;
    color: #fff;
}

.projects {
    display: flex;

    &__semester-button {
        margin-bottom: 2rem;
    }

    &__info {

    }

    &__title {
        margin-bottom: 0.5rem;
    }

    &__choose-semester-button {
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
}

.text {
    margin-bottom: 4.1rem;
    font-weight: 400;
    font-size: 20px;
    color: #b6b6b6;
}

.projects {
    display: grid;
    grid-template-columns: 3fr 8fr;
    gap: 7rem;
}

.choose-project {
    &__title {
        margin-bottom: 0.5rem;
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }

    &__text {
        margin-bottom: 1.8rem;
        font-weight: 400;
        font-size: 18px;
        color: #b6b6b6;
    }

    &__buttons-div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        margin-bottom: 3.125rem;
    }

    &__button {
        padding: 0.7rem;
        border: none;
        border-radius: 3px;

        &-selected {
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            color: #fff;
            background-color: #5A9DF5;
            cursor: pointer;
        }

        &-active {
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            color: #d0e6ee;
            background-color: transparent;
            outline: 1px solid #5A9DF5;
            cursor: pointer;
        }

        &-inactive {
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            color: rgba(208, 230, 238, 0.5);
            background-color: transparent;
            outline: 1px solid rgba(208, 230, 238, 0.5);
        }
    }
}

.project {
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;

    &__main-info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &__name {
            font-weight: 500;
            font-size: 24px;
            color: #fff;
        }

        &__img {

        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__pub-date {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1rem;
        font-weight: 400;
        font-size: 18px;
        color: #c1d9e2;

        &__text {
            opacity: 0.5;
        }
    }
}

.game-rating {
    &__title {
        margin-bottom: 0.7rem;
    }

    &__votes {
        margin-bottom: 1.25rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: 700;
        font-size: 24px;
        color: var(--secondary-color);
    }

    &__voting-button {
        width: 100%;
        padding: 1rem 0rem;
        font-weight: 600;
        font-size: 20px;
        color: var(--base-color-02);
        border: 1px solid var(--active-bg-button-color);
        border-radius: 3px;
        background-color: var(--avatar-menu-bg-color);
        cursor: pointer;
    }
}

.rating-points {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3rem;

    &__before {
        height: 2.7rem;
    }

    &__after {
        height: 2.7rem;
    }

    &__all {
        width: 100%;
        height: 1rem;
        padding: 0.125rem;
        border-top: 1px solid #8c98a5;
        border-bottom: 1px solid #8c98a5;
    }

    &__has {
        height: 100%;
        width: 50%;
        background: linear-gradient(90deg, #56708a 0%, #8c98a5 55.02%, #cae4ff 100%);
    }

    &__count-div {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.375rem;
        top: 2rem;
    }

    &__fire-img {
        height: 1.25rem;
    }

    &__count {
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        color: #d0e6ee;
    }
}

.team {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    &__role-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__role-title {
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }

    &__role-devoleper-role {
        padding: 1.25rem 2.3rem;
        font-weight: 300;
        font-size: 16px;
        color: #c1d9e2;
        background: #2d2d2d;
    }

    &__devoleper-team-container {

    }

    &__devoleper-team-title {
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }

    &__devoleper-team-count {
        position: relative;
        bottom: 0.6rem;
        margin-bottom: 0.4rem;
        font-weight: 400;
        font-size: 18px;
        text-align: right;
        color: rgba(208, 230, 238, 0.5);
    }

    &__devoleper-team-name {
        padding: 1.25rem 2.3rem;
        font-weight: 300;
        font-size: 16px;
        color: #c1d9e2;
        background: #2d2d2d;
    }
}

.developer {
    &__count {
        margin-bottom: 1.6rem;
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }

    &__name {
        margin-bottom: 1rem;
        padding: 1.25rem 2.3rem;
        font-weight: 300;
        font-size: 16px;
        color: #c1d9e2;
        background: #2d2d2d;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__role {
        font-weight: 400;
        font-size: 18px;
        color: #b6b6b6;
    }

    &__contacts {
        font-weight: 400;
        font-size: 18px;
        text-decoration-skip-ink: none;
        color: #c1d9e2;
    }

    &__status {
        color: var(--good-status-color);
    }
}

.choose-project__role {
    width: 50%;
    margin-bottom: 3rem;

    &-title {
        margin-bottom: 1.5rem;
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }

    &-title-star {
        color: rgba(208, 230, 238, 0.3);
    }

    &-input__bg {
        padding: 0.6rem 1rem;
        margin-bottom: 0.625rem;
        background: #2d2d2d;
    }

    &-select {
        width: 100%;
        padding: 0.625rem 1.375rem;
        outline: none;
        border: none;
        border-radius: 0.25rem;
        border: 1px solid #99a2ad;
        background: rgba(200, 200, 200, 0.1);
    }

    &-span {
        font-weight: 400;
        font-size: 14px;
        color: #d0e6ee;
    }
}

.inputs {
    &__title {
        margin-bottom: 1.5rem;
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }

    &__input-bg {
        padding: 0.6rem 1rem;
        margin-bottom: 1rem;
        background: #2d2d2d;
    }

    &__input-bg__inactive {
        padding: 1.25rem 2.3rem;
        font-weight: 300;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.65);
    }

    &__input {
        width: 100%;
        padding: 0.625rem 1.375rem;
        outline: none;
        border: none;
        border-radius: 0.25rem;
        background: rgba(200, 200, 200, 0.1);
    }

    &__input::placeholder {
        font-weight: 300;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.65);
    }
}


.team-member {
    position: relative;

    &__list {
        margin-bottom: 3.125rem;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 18px;
    }

    &__info-role {
        color: #b6b6b6;
    }

    &__info-contact {
        text-decoration: underline;
        color: #c1d9e2;
    }

    &__delete-btn {
        position: absolute;
        top: 1rem;
        right: 0;
        padding: 0.35rem 1.5rem;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        color: #ff8197;
        border-radius: 0.2rem;
        border: 1px solid #ff8197;
        background-color: transparent;
    }

    &__delete-btn:hover {
        text-decoration: underline;
    }
}

.team-member:not(:last-child) {
    margin-bottom: 3rem;
}

.add-member-btn {
    width: 356px;
    height: 56px;
    float: right;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #d0e6ee;
    border: 1px solid #5a9df5;
    border-radius: 3px;
    background: #282828;
}

.add-member-btn:hover {
    color: #fff;
    background: #5a9df5;
}

.add-member-btn[disabled]{
    color: rgba(208, 230, 238, 0.5);
    border: 1px solid rgba(208, 230, 238, 0.5);
    background: #1c1e22;
}

.leave-team-btn {
    width: 356px;
    height: 56px;
    float: right;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #ff8197;
    border: 1px solid #ff8197;
    border-radius: 3px;
    background: #282828;
}

.leave-team-btn:hover {
    color: #fff;
    background: #ff8197;
}
