<div class="add-game">
    <form
        class="add-game-form"
        [formGroup]="loadGameForm"
        (ngSubmit)="onSubmit()"
    >
        <label class="add-game-form__label" for="name">Название проекта</label>
        <input
            class="add-game-form__data"
            id="name"
            type="text"
            formControlName="name"
        >

        <label class="add-game-form__label" for="shortDescription">Короткое описание</label>
        <input
            class="add-game-form__data"
            id="shortDescription"
            type="text"
            formControlName="shortDescription"
        >

        <label class="add-game-form__label" for="playDescription">Как играть</label>
        <input
            class="add-game-form__data"
            id="playDescription"
            type="text"
            formControlName="playDescription"
        >

        <label class="add-game-form__label" for="categoryId">Категория проекта</label>
        <input
            class="add-game-form__data"
            id="categoryId"
            type="text"
            formControlName="categoryId"
        >

        <label class="add-game-form__label" for="theme">Тема проекта</label>
        <input
            class="add-game-form__data"
            id="theme"
            type="text"
            formControlName="theme"
        >

        <label class="add-game-form__label" for="gitHubLink">Ссылка на репозиторий</label>
        <input
            class="add-game-form__data"
            id="gitHubLink"
            type="text"
            formControlName="gitHubLink"
        >

        <label class="add-game-form__label" for="file">Архив с проектом</label>
        <input
            class="add-game-form__data"
            id="file"
            type="file"
            accept=".zip"
            formControlName="file"
            (change)="onFileSelected($event)"
        >
        <div class="add-game-form__action">
            <button
                class="add-game-form__submit-button"
                type="submit"
            >
                Опубликовать
            </button>
        </div>
    </form>
</div>
