<form
    class="register-form"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
>
    <div class="register-form__content">
        <h2 class="register-form__title">Регистрация</h2>
        <div class="register-form__inputs-div">
            <div class="tui-form__row">
                <tui-input
                    formControlName="lastName"
                >
                    Фамилия
                    <input
                        placeholder="Фамилия"
                        tuiTextfield
                        type="text"
                    />
                    <span class="tui-required"></span>
                </tui-input>
                <tui-error
                    formControlName="lastName"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
            <div class="tui-form__row">
                <tui-input
                    formControlName="firstName"
                >
                    Имя
                    <input
                        placeholder="Имя"
                        tuiTextfield
                        type="text"
                    />
                    <span class="tui-required"></span>
                </tui-input>
                <tui-error
                    formControlName="firstName"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
            <div class="tui-form__row">
                <tui-input
                    formControlName="email"
                    tuiHintContent="Ваша почта обязательно должна быть в домене urfu.me"
                >
                    Почта УрФУ
                    <input
                        placeholder="example@urfu.me"
                        tuiTextfield
                        type="email"
                    />
                    <span class="tui-required"></span>
                </tui-input>
                <tui-error
                    formControlName="email"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
            <div class="tui-form__row">
                <tui-input-password
                    formControlName="password"
                    tuiHintContent="Ваш пароль должен быть длиннее 6 символов, а также содержать хотя бы одну цифру, одну заглавную и строчную буквы"
                >
                    Пароль
                    <input
                        placeholder="Пароль"
                        tuiTextfield
                    />
                    <span class="tui-required"></span>
                </tui-input-password>
                <tui-error
                    formControlName="password"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
            <div class="tui-form__row">
                <tui-input
                    formControlName="academicGroup"
                >
                    Академическая группа
                    <input
                        placeholder="Академическая группа"
                        tuiTextfield
                        type="text"
                    />
                    <span class="tui-required"></span>
                </tui-input>
                <tui-error
                    formControlName="academicGroup"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
        </div>
    </div>
    <div class="register-form-action">
        <button
            appearance="auth-button"
            tuiButton
            type="submit"
        >
            Зарегистрироваться
        </button>
        <a
            class="register-form-action__link"
            routerLink="../login"
            tuiLink
        >
            Войти
        </a>
    </div>
</form>
