<form
    class="register-form"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
>
    <div class="register-form__content">
        <span class="register-form__title">Регистрация</span>
        <div class="login-form__inputs-div">
            <div class="register-form-field">
                <validation-message [control]="registerForm.controls.lastName">
                </validation-message>
                <input
                    class="register-form-field__input"
                    id="lastName"
                    type="text"
                    formControlName="lastName"
                    placeholder="Фамилия"
                >
            </div>
            <div class="register-form-field">
                <validation-message [control]="registerForm.controls.firstName">
                </validation-message>
                <input
                    class="register-form-field__input"
                    id="firstName"
                    type="text"
                    formControlName="firstName"
                    placeholder="Имя"
                >
            </div>
            <div class="register-form-field">
                <validation-message [control]="registerForm.controls.email">
                </validation-message>
                <input
                    class="register-form-field__input"
                    id="email"
                    type="email"
                    formControlName="email"
                    placeholder="Логин"
                >
            </div>
            <div class="register-form-field">
                <validation-message [control]="registerForm.controls.password">
                </validation-message>
                <input
                    class="register-form-field__input"
                    id="password"
                    type="password"
                    formControlName="password"
                    placeholder="Пароль"
                >
            </div>
            <div class="register-form-field">
                <validation-message [control]="registerForm.controls.academicGroup">
                </validation-message>
                <input
                    class="register-form-field__input"
                    id="academicGroup"
                    type="text"
                    formControlName="academicGroup"
                    placeholder="Академическая группа"
                >
            </div>
        </div>
    </div>
    <div class="register-form-action">
        <button
            class="register-form-action__button"
            type="submit"
        >
            Зарегистрироваться
        </button>
        <button
            class="register-form-action__button"
            type="button"
            routerLink="../login"
        >
            Войти
        </button>
    </div>
</form>


