/* You can add global styles to this file, and also import other style files */
@import "styles/variables/global";
@import "styles/normalize";

//my reset
* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}
