<h1 class="title">Безопасность</h1>
<p class="text">Профиль</p>

<div class="security">
    <aside class="side-bar">
        <h2 class="side-bar__title">Редактирование</h2>
        <p class="side-bar__status">Изменений нет</p>
        <profile-side-bar></profile-side-bar>
        <button class="side-bar__save-btn">Сохранить</button>
    </aside>

    <div class="security__info">
        <h3 class="security__title">Почта ЛК УрФУ</h3>
        <div class="security__email">Почта</div>
        <span class="security__span">Нудоступно для изменения</span>

        <h3 class="security__change-title">Изменение пароля</h3>
        <p class="security__text">Обновите свой текущий пароль</p>

        <div class="password-change">
            <p class="password-change__title">
                Страрый пароль<span class="password-change__title-star">*</span>
            </p>
            <div class="password-change__input-bg">
                <input class="password-change__input" type="text" placeholder="Введите пароль">
                <button class="password-change__btn">
                    <img class="password-change__btn-img" src="assets/images/icons/hide_password.svg" alt="">
                </button>
            </div>
        </div>
        <div class="password-change">
            <p class="password-change__title">
                Новый пароль<span class="password-change__title-star">*</span>
            </p>
            <div class="password-change__input-bg">
                <input class="password-change__input" type="text" placeholder="Введите новый пароль">
                <button class="password-change__btn">
                    <img class="password-change__btn-img" src="assets/images/icons/hide_password.svg" alt="">
                </button>
            </div>
        </div>
        <div class="password-change">
            <p class="password-change__title">
                Подтвердите пароль<span class="password-change__title-star">*</span>
            </p>
            <div class="password-change__input-bg">
                <input class="password-change__input" type="text" placeholder="Повторите новый пароль">
                <button class="password-change__btn">
                    <img class="password-change__btn-img" src="assets/images/icons/hide_password.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</div>
